@font-face {
    font-family: Market_Deco;
    src: url(../fonts/Market_Deco.ttf);
}

body{
  padding-top: 80px; 
  background-color:#f1cb63;
}

.navbar navbar-default navbar-fixed-top{
 border: black;
 
 
}

#navbarContainer{
  background-color: #1a1002;
   font-family: Market_Deco
  
  
}

.navbar-header .navbar-brand{
  color: white;
  font-family: Market_Deco
  
}

#nav-list a{
  text-align: center;
  color: white;
  font-size: 1.2em;
}

#nav-list a:hover {
  background: #E7E7E7;
  color: black;
}



#main-content{
 padding: 0;
 

}

#main-content h1{
 padding: 0;
 margin-top: 80px;
 width: 100%;
 color: #1a1002;
 font-family: Market_Deco;
 
}

.row{
word-wrap: break-word; 

}

#chicken-tile, #beef-tile, #sushi-tile{
  height: 800px;
  margin-top: 80px;
  position: relative; 
  border: 2px solid #1a1002;
  border-radius: 5px;
  background-color:#ad7243;
  box-shadow: 0 0 5px black; 
  padding-top: 20px;
  color: #1a1002;
  font-family: Market_Deco
 
  
}

#chicken-tile ul li, #beef-tile ul li, #sushi-tile ul li{
   padding-bottom: 10px; 
   list-style: square;
  
}


.menuHeader{
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  font-size: 1.6em;
  text-transform: uppercase;
  background-color: #1a1002;
  color: white; 
  height: 50px;
  font-family: Market_Deco
  
}

.menuHeader p{
 
  margin-top: 10px;
}

.menuFooter{
position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.6em;
  text-transform: uppercase;
  background-color: #1a1002;
  color: white; 
  height: 10px;
  
}

#chicken-tile:hover, #beef-tile:hover, #sushi-tile:hover{
 box-shadow: 0 0 30px black; 
 
}

.menuDescription{
  margin-top: 50px;
  font-size: 1.2em;
  
}

#footer{
  height: 50px;
  border-top: 1px solid white;
  margin-top: 100px;
  background-color: #1a1002;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  
  
}

#footer p{
  font-size: 20px;
  color: white;
  font-family: Market_Deco;

}

#footer a{
  position: absolute;
  right: 0;
  color: white;
}

@media (min-width: 768px) and (max-width: 991px) {
  
  #sushi-tile{
  height: 400px;
  margin-top: 80px;
  position: relative; 
  border: 2px solid #1a1002;
  border-radius: 5px;
  background-color:#ad7243;
  box-shadow: 0 0 5px black; 
  padding-top: 20px;
  color: #1a1002;
  font-family: Market_Deco
 }
}

@media (min-width: 0px) and (max-width: 768px){
  
  #chicken-tile, #beef-tile, #sushi-tile{
  height: 400px;
  margin-top: 80px;
  position: relative; 
  border: 2px solid #1a1002;
  border-radius: 5px;
  background-color:#ad7243;
  box-shadow: 0 0 5px black; 
  padding-top: 20px;
  color: #1a1002;
  font-family: Market_Deco

}








